body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Shimmer UI */
.shimmerBox {
  width: 16rem;
  height: 12rem;
  background-color: lightgray;
  margin: 1rem;
}

.shimmerBox2 {
  width: 48rem;
  height: 14rem;
}

.shimmerBoxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnList:hover {
  background: darkgrey;
}